@{
    ViewBag.Title = "VisaPolicy";
    Layout = "~/Views/Shared/GeneralMaster.cshtml";
}

<style>
    .col {
        columns: 100px 2;
        column-gap: 20px;
    }
</style>

<div class="container-fluid" style="margin-top:80px; margin-bottom:100px;color:black;">
    <h1 style="color:black;font-family:'Rancho',cursive;font-size:8rem;">Visa Policy of India</h1>
    <div class="col">
        <div class="col-item">
            <p style="font-size:2rem">
                <b>Tourist Visa:</b> Tourist visas are typically issued to individuals who wish to visit a country for leisure or tourism purposes. They are often granted for a specific duration, such as 30 days, 90 days, or 180 days, depending on the country's policy. Some countries allow visa-free entry for tourists from certain nations, while others require a visa application. <br />

                <b>Business Visa:</b> Business visas are for individuals traveling for business purposes, such as meetings, conferences, or negotiations. They may have specific requirements, such as an invitation letter from a host company or organization.<br />

                <b>Work Visa:</b> Work visas are required for individuals seeking employment in a foreign country. The process for obtaining a work visa can be complex and may involve sponsorship by an employer in the destination country.<br />

                <b>Student Visa:</b> Student visas are issued to international students who plan to study at an educational institution in a foreign country. Applicants often need to provide proof of admission to an accredited institution and demonstrate sufficient financial resources.
            </p>



            </p>
        </div>
        <div>
            <img src="~/Content/1.jpg" />
        </div>

    </div>


</div>
