
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/AdminMaster.cshtml";
}

<div class="row">

    <div class="outer-w3-agile col-xl">
        <center>
            <h1><u>Travellers</u></h1>
            <div class="stat-grid p-3 mt-3 d-flex align-items-center justify-content-between" style="background-color: #11505e;">
                <div class="s-l">
                    <h5>Joined People</h5>

                </div>
                <div class="s-r">
                    <h6>
                        250+
                        <i class="fa fa-user"></i>
                    </h6>
                </div>
            </div>


            <div class="doctor-visiting">
                <div class="heading">
                    <h2>Travellers Visiting</h2>
                    <a href="#" class="btn">View All</a>
                </div>
                <table class="visiting">
                    <thead>
                    <td>Photo</td>
                    <td>Name</td>
                    <td>Visit time</td>
                    <td>Detail</td>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <div class="img-box-small">
                                    <img src="~/Content/dash/doctor1.png" alt="">
                                </div>
                            </td>
                            <td>Ranjeet Kanaujia</td>
                            <td>14:00</td>
                            <td><i class="far fa-eye"></i></td>
                        </tr>
                        <tr>
                            <td>
                                <div class="img-box-small">
                                    <img src="~/Content/dash/doctor3.jpg" alt="">
                                </div>
                            </td>
                            <td>Liam</td>
                            <td>15:00</td>
                            <td><i class="far fa-eye"></i></td>
                        </tr>
                        <tr>
                            <td>
                                <div class="img-box-small">
                                    <img src="~/Content/dash/doctor2.png" alt="">
                                </div>
                            </td>
                            <td>Noah</td>
                            <td>16:00</td>
                            <td><i class="far fa-eye"></i></td>
                        </tr>
                        <tr>
                            <td>
                                <div class="img-box-small">
                                    <img src="~/Content/dash/doctor4.png" alt="">
                                </div>
                            </td>
                            <td>Sophia</td>
                            <td>17:00</td>
                            <td><i class="far fa-eye"></i></td>
                        </tr>
                        <tr>
                            <td>
                                <div class="img-box-small">
                                    <img src="~/Content/dash/doctor1.png" alt="">
                                </div>
                            </td>
                            <td>Lucifer</td>
                            <td>13:00</td>
                            <td><i class="far fa-eye"></i></td>
                        </tr>
                        <tr>
                            <td>
                                <div class="img-box-small">
                                    <img src="~/Content/dash/doctor2.png" alt="">
                                </div>
                            </td>
                            <td>Leo</td>
                            <td>14:00</td>
                            <td><i class="far fa-eye"></i></td>
                        </tr>
                    </tbody>
                </table>
            </div>


        </center>

    </div>


    <!-- Stats -->
    <div class="outer-w3-agile col-xl">
        <center>
            <h1><u> Management Page</u></h1>
            <div class="stat-grid p-3 mt-3 d-flex align-items-center justify-content-between" style="background-color: #11505e;">
                <div class="s-l">
                    <a href="#"><h5>Bookings</h5></a>

                </div>
                <div class="s-r">
                    <h6>
                        <i class="fas fa-book-open"></i>
                    </h6>
                </div>
            </div>


            <div class="doctor-visiting">
                <div class="heading">
                    <h2>Last Booking Of Pessangers</h2>
                    <a href="#" class="btn">View All</a>
                </div>
                <table class="visiting">
                    <thead>
                    <td>S.No.</td>
                    <td>Name</td>
                    <td>City</td>
                    <td>Actions</td>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                1
                            </td>
                            <td>Ranjeet Kanaujia</td>
                            <td>India</td>
                            <td>
                                <i class="far fa-eye"></i>
                                <i class="far fa-edit"></i>
                                <i class="far fa-trash-alt"></i>
                            </td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>Noah</td>
                            <td>London</td>
                            <td>
                                <i class="far fa-eye"></i>
                                <i class="far fa-edit"></i>
                                <i class="far fa-trash-alt"></i>
                            </td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>Olivia Smith</td>
                            <td>NewYork</td>
                            <td>
                                <i class="far fa-eye"></i>
                                <i class="far fa-edit"></i>
                                <i class="far fa-trash-alt"></i>
                            </td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td>Lucifer</td>
                            <td>America</td>
                            <td>
                                <i class="far fa-eye"></i>
                                <i class="far fa-edit"></i>
                                <i class="far fa-trash-alt"></i>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                5
                            </td>
                            <td>Alice</td>
                            <td>Sen Fransisco</td>
                            <td>
                                <i class="far fa-eye"></i>
                                <i class="far fa-edit"></i>
                                <i class="far fa-trash-alt"></i>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                6
                            </td>
                            <td>Hihachi Mitshima</td>
                            <td>Turki</td>
                            <td>
                                <i class="far fa-eye"></i>
                                <i class="far fa-edit"></i>
                                <i class="far fa-trash-alt"></i>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>



        </center>

        <div class="cards">
            <div class="card">
                <div class="card-content">
                    <div class="number">250+</div>
                    <div class="card-name">Peoples Joined</div>
                </div>
                <div class="icon-box">
                    <i class="fas fa-user-alt"></i>
                </div>
            </div>
            <div class="card">
                <div class="card-content">
                    <div class="number">105+</div>
                    <div class="card-name">New Travellers</div>
                </div>
                <div class="icon-box">
                    <i class="fas fa-person"></i>
                </div>
            </div>

            <div class="card">
                <div class="card-content">
                    <div class="number">$4500</div>
                    <div class="card-name">Earnings</div>
                </div>
                <div class="icon-box">
                    <i class="fas fa-dollar-sign"></i>
                </div>
            </div>
        </div>
    </div>
    <!--// Stats -->
    <!-- Pie-chart -->

</div>

